@font-face {
    font-family: latolight;
    src: url(../fonts/Lato-Light.ttf);
}
@font-face {
    font-family: hack;
    src: url(../fonts/Hack-Regular.ttf);
}
a, p, input, label, h1, li, th, textarea, span, td, DIV{
font-family: latolight;
color: #4d4d4d;
font-size: 1em;
overflow-wrap: break-word;
outline: none;
}
i{
cursor:pointer;
color: #4d4d4d;
}
select{
background-color: white;
border: none;
border-bottom: 1px solid #4d4d4d;
margin-right: 5px;
}
.imgButton{
cursor:pointer;
}
.ab{
height: 75px;
width: 75px;
margin: 20px 20px 20px 20px;
}
.mp{
position: relative;
background: #FFF;
padding: 20px;
width: auto;
max-width: 500px;
margin: 20px auto;
}
.mfp-close{
width: 25px;
height: 25px;
line-height: 25px;
}
.mpd{
position: fixed;
left: calc((100% - 360px) / 2);
right: auto;
top: 10px;
background: #FFF;
padding: 20px 40px 20px 20px;
width: 300px;
max-width: 300px;
}
.activeTab{
border-bottom: none;
border-left: 1px solid #4d4d4d;
border-right: 1px solid #4d4d4d;
border-top: 1px solid #4d4d4d;
cursor: pointer;
margin-left: 1px;
padding: 5px;
}
.inactiveTab{
border: 1px solid #4d4d4d;
padding: 5px;
cursor: pointer;
background-color: #eee;
}
table{
border-collapse: collapse;
}
.hideColorValues{
display: none;
height: 0;
overlflow-y: none;
}
.textButton, button{
       font-style: normal;
       font-family: latolight;
       text-decoration: underline;
       border: none;
       margin: 0 0 0 0;
       font-size: 1em;
       padding: 0 0 0 0;
       cursor: pointer;
background: none;
outline: none;
}
.text{
font-family: latolight;
color: #4d4d4d;
}

.boxStyling{
background-color: white;
margin: 10px 0px;
padding: 7.5px;
padding-left: 15px;
border-radius: 1.5px;
}
h3{
font-size: 1em;
margin: 5px 0;
padding: 0;
}
.marginleft{
margin-left: 10px;
}
input{
font-size: 100%;
border: none;
border-left: none;
background-color: white;
border-bottom: 1px solid #4d4d4d;
}
.disabled{
opacity: 0.5;
}
.code{
background-color: #EFF0F1;
padding: 5px;
font-family: hack;
font-size: 1em;
}
hr{
margin-top: 15px;
margin-bottom: 15px;
}
td img{
vertical-align: middle;
width: 1em;
height: 1em;
}
td{
padding: 2.5px 5px;
}
.hoverBackground:hover{
    background: #eff0f1;
}
#contentDiv{
display: table-cell;
vertical-align: middle;
   width: 100%;
   max-width: 580px;
   text-align: center;
}
#portaalLogo{
    margin-left: 70px;
    margin-right: 70px;
    width: calc(100% - 140px);
    max-width: 300px;
}
#inputForm{
    border-bottom: 2px solid #4d4d4d;
    width: 100%;
    position: relative;
    z-index: 5;
    background: white;
}
#searchButton{
    height: 50px;
    float: right;
}
#clearButton{
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    padding-right: 5px;
    padding-left: 5px;
    display: none;
    float: right;
    width: 0px;
    height: 25px;
}
#inputSuggestions{
z-index: 5;
style: margin-bottom: 25px;
width: 100%;
max-width: 100%;
background-color: white;
position: absolute;
margin-top: 5px;
border: 1px solid #4d4d4d;
}
#icons{
z-index: -1;
display: table;
margin-left: auto;
margin-right: auto;
margin-top: 35px;
}
#notificationDiv{
z-index: 10;
position: fixed;
width: calc(100% - 10px);
max-width: 420px;
max-height: 100vh;
margin: 0px auto;
left: 0;
right: 0;
top: 0;
overflow-y: auto;
padding: 0px 10px 0px 10px;
}
#bottomButtons{
position: fixed;
bottom: 5px;
right: 5px;
width: auto;
height: auto;
background-color: white;
}
body{
 width: 100vw;
height: 100vh;
margin: 0px;
display: table;
table-layout: fixed;
}
#searchInputDiv{
margin-bottom: 10px;
margin-top: 25px;
height: 50px;
margin-left: 10px;
margin-right: 10px;
text-align: left;
}
#searchInput{
    padding: 0px;
width: calc(100% - 50px);
border: none;
margin-bottom: 10px;
background-color: white;
font-size: 40px;
outline: 0;
}
.bottomButton{
 margin: 5px;
 width: 25px;
 height: 25px;
 float: right;   
}
#contentInnerDiv{
 display: table;
 width: 100%;
 max-width: 580px;
 margin: 100px auto 50px auto;   
}
#icons > div, .imgButton, #inputSearch, #clear {
  transition: all .3s;
}
#icons > div:hover, .imgButton, #inputSearch:hover, #cear:hover {
  transform: scale(1.05);
}
#icons > div:active, .imgButton, #inputSearch:active, #clear:active {
  transform: none;
}
